/*
Project Name: Relaxr Landing Page
Author: Phil Weiss
Front End Developer @GA in NYC
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,800,700,600italic,700italic,800italic);

body {
	width:100%;
	font-family: 'Open Sans', sans;
}

.page1 {
	width:100%;
	height:700px;
	background-image:url("../images/header_bg.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

	header {
		color:white;
		font-weight:800;
		font-size:45px;
		padding-top:30px;
		padding-left:80px;
}

	.hero {
		color:white;
		font-weight:600;
		font-size:45px;
		padding-top:130px;
		text-align:center;
		margin-bottom:80px;
	}	

	.button {
		background-color:#f9e42e;
		color:#121212;
		font-weight:800;
		font-size:28px;
		border-radius:5px;
		text-align:center;
		width:300px;
		height:50px;
		margin:0 auto;
		padding-top:20px;
	}

.page2 {
		padding:70px 80px 50px 80px;
		background-color:#f0efef;
}

	.page2 h2 {
		color:#121212;
		font-weight:600;
		font-size:40px;
		margin-bottom:20px;
	}

	.page2 p {
		padding-left:10px;
		color:#606161;
		width:400px;
		line-height: 125%;
		margin-bottom:35px;
		font-size:16px;
		font-weight:300;
	}

	.page2 ul {
		list-style-type: disc;
		color:#606161;
		padding-left:40px;
		width:300px;
		font-size:16px;
		font-weight:300;
	}

	.page2 li {
		margin:10px;
	}

.page3 {
	text-align:center;
}

	.testimonial_bg {
		background-repeat:no-repeat;
		background-image:url("../images/testimonial_bg.jpg");
		width:100%;
		height:350px;
		color:white;
		background-size:100% 100%;
	}

	.testimonial p {
		padding-top:90px;
		line-height: 125%;
		display:block;
		margin:0 auto;
		color:#f0efef;
		font-weight:300;
		width:425px;
		font-size:24px;
		text-align:justify;
	}

	.testimonial h2 {
		display: block;
		font-weight:600;
		padding-top:10px;
		font-size:24px;
	}

	.yellow {
		padding-top:30px;
		width:100%;
		background-color:#f9e42e;
		height:100px;
	}

	footer {
		display:block;
		width:100%;
		height:250px;
		background-color:#121212;
		color:#f9e42e;
		font-weight:800;
		font-size:40px;
		padding-top:50px;
	}

	footer .social {
		display:inline-block;
		padding-left:20px;
		padding-right: 20px;
		padding-top: 40px;
	}

	footer .copyright {
		font-weight:600;
		font-size:12px;
		color:white;
		padding-top:50px;
	}

a {
	text-decoration: none;
	color:black;
}

